/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  display:flex;
 
}
.cursor::after {

  
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  border: 2px solid #ACFF9E;
  border-radius: 50%;
  opacity: 1;
  top: -2px;
  left: -2px;
}
@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.expand {
  animation: cursorAnim 0.5s forwards;
}
